<main>
<h1>Friend</h1>
<div class="content">
<h3>My Friends List</h3>
<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Nickname</th>
    <th>GitHub Pages</th>
  </tr>
  <tr>
    <td>Bandit</td>
    <td>Chaiuay</td>
    <td>Nice</td>
    <td><a href="https://camt-mmit.github.io/2024-01-954447-001-lab03-basic-typescript-NiceZGT730/">Lab 03</a>
        <a href="https://camt-mmit.github.io/2024-01-954447-001-lab04-basic-angular-NiceZGT730/">Lab 04</a></td>
  </tr>
</table>
</div>
</main>
