.content {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
  align-content: center;
}

a {
  color: blue;
  text-decoration: none;
  border: 1px solid blue;
  border-radius: 75px;
  padding: 7px;
  margin: 5px;
  text-align: center;
}
