<div class="content">
<h1>My Profile</h1>
<h3>Basic Information</h3>
<ul>
  <li><b>Name :</b> Chinatip Jearsakul</li>
  <li><b>Gender :</b> Male</li>
  <li><b>Age :</b> 20</li>
</ul>
<h3>Autobiography</h3>
Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius dolorem expedita quaerat sint, tenetur veniam autem fugit aliquam doloribus? Et eligendi quis sed voluptas! Dolorem ab quas architecto optio voluptas?
Iure mollitia amet fugit corrupti architecto magni nulla rem nostrum perferendis est praesentium dolores, autem tenetur veniam expedita, consectetur dicta esse vero beatae fuga inventore id dolorum! Consequuntur, fuga laudantium.
Eos quasi impedit consequatur corporis odio nesciunt nam amet, voluptatem, architecto numquam, quas veniam mollitia? Numquam pariatur, nemo nostrum facere impedit excepturi optio sit deserunt dignissimos reiciendis. Ipsa, quas nemo?
<br>
<h3>GitHub Pages</h3>
<a href="https://camt-mmit.github.io/2024-01-954447-001-lab03-basic-typescript-Chinatip-J/">Lab 03</a>
<a href="">Lab 04</a>
</div>
